div.prod_inic {
    display: flex;
    width: 800px;
    height: 280px;
    align-items: center;
    gap: 20px;
    margin-left: 50px;
}

div.edit-prod {
    width: 100%;
    display: flex;
    justify-content:left;
}

div.loj_inic {
    display: flex;
    width: 850px;
    height: 250px;
    align-items: center;
    gap: 20px;
    margin-right: 50px;
}

div.edit-loj {
    width: 100%;
    display: flex;
    justify-content:right;
}

#ft_p {
    width: 350px;
    height: 350px;
    clip-path: circle(45%);
}

h2 {
    color: rgb(110, 134, 110);
    font-size: 50px;
    text-shadow: 2px 2px rgb(9, 49, 9) ;
}
